TestGoogleSignIn/.idea/compiler.xml
TestGoogleSignIn/.idea/modules.xml
TestGoogleSignIn/.idea/misc.xml
TestGoogleSignIn/.idea/runConfigurations.xml
TestGoogleSignIn/.idea/misc.xml
Android-Login-master/README.md
Android-Login-master/local.properties
Android-Login-master/gradlew.bat
Android-Login-master/gradlew
Android-Login-master/gradle/wrapper/gradle-wrapper.properties
Android-Login-master/gradle/wrapper/gradle-wrapper.jar
Android-Login-master/FBLogin.iml
Android-Login-master/build/intermediates/dex-cache/cache.xml
Android-Login-master/build/generated/mockable-android-21.jar
Android-Login-master/.gradle/2.10/taskArtifacts/cache.properties
Android-Login-master/.gradle/2.10/taskArtifacts/cache.properties.lock
Android-Login-master/.gradle/2.10/taskArtifacts/fileHashes.bin
Android-Login-master/.gradle/2.10/taskArtifacts/fileSnapshots.bin
Android-Login-master/.gradle/2.10/taskArtifacts/outputFileStates.bin
Android-Login-master/.gradle/2.10/taskArtifacts/taskArtifacts.bin
Android-Login-master/.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
Android-Login-master/.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
Android-Login-master/.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
Android-Login-master/.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
*.name
Android-Login-master/.idea/compiler.xml
Android-Login-master/.idea/copyright/profiles_settings.xml
Android-Login-master/.idea/encodings.xml
Android-Login-master/.idea/gradle.xml
Android-Login-master/.idea/libraries/android_android_21.xml
Android-Login-master/.idea/libraries/appcompat_v7_21_0_3.xml
Android-Login-master/.idea/libraries/bolts_android_1_1_4.xml
Android-Login-master/.idea/libraries/facebook_android_sdk_4_0_0.xml
Android-Login-master/.idea/libraries/support_annotations_21_0_3.xml
Android-Login-master/.idea/libraries/support_v4_21_0_3.xml
Android-Login-master/.idea/misc.xml
Android-Login-master/.idea/modules.xml
Android-Login-master/.idea/runConfigurations.xml
Android-Login-master/.idea/workspace.xml
Android-Login-master/Android-FacebookLogin-master.iml
TestGoogleSignIn/.idea/compiler.xml
TestGoogleSignIn/.idea/gradle.xml
TestGoogleSignIn/.idea/misc.xml
TestGoogleSignIn/.idea/modules.xml
TestGoogleSignIn/.idea/runConfigurations.xml
TestGoogleSignIn/.idea/compiler.xml
TestGoogleSignIn/.idea/encodings.xml
TestGoogleSignIn/.idea/gradle.xml
TestGoogleSignIn/.idea/misc.xml
TestGoogleSignIn/.idea/modules.xml
TestGoogleSignIn/.idea/runConfigurations.xml