<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pernalonga.ihm_tests">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_eavesdrop"
        android:label="IHM_tests"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">

        <activity
            android:name=".MainActivity"
            android:theme= "@style/AppTheme2"
            android:label="IHM_Tests"
            >

        </activity>

        <activity
            android:name=".Login_Activity"
            android:theme= "@style/Theme.AppCompat.Light.DarkActionBar"
            android:label="Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>